---
// BlogPostHero.astro
interface Props {
    title: string;
    image: string;
    slug: string;
}

const { title, image, slug } = Astro.props;
---

<figure
    class="w-full aspect-video md:aspect-21/9 rounded-3xl overflow-hidden shadow-xl mb-10 relative"
>
    <img
        src={image}
        alt={title}
        class="w-full h-full object-cover"
        transition:name={`img-blog-${slug}`}
    />
    <div
        class="absolute inset-0 bg-linear-to-t from-black/60 via-transparent to-transparent"
    >
    </div>
</figure>
